{% extends 'base.html' %}
{% block title %}Сайт кулинарных рецептов{% endblock %}
{% block content %}
    <center>
        {{message}}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container border border-primary" style="width: 800px; background-color: rgb(168, 226, 157); margin-top: 30px; margin-bottom: 30px; padding-top: 20px;padding-bottom: 20px;"> 
                <table>
                    {% for f in form %}
                        <tr><td>{{f.label}}: </td><td>{{ f }}</td></tr>
                        <tr><td>{{ f.errors }}</td><td>
                    {% endfor %}
                </table>
                <button type="submit">Сохранить рецепт</button> 
            </div>
        </form>
    </center>
{% endblock %}