{% extends 'base.html' %}
{% block title %}Сайт кулинарных рецептов{% endblock %}
{% block content %}
    <center>
        
            <div class="card" style="width: 40%; background-color: rgb(196, 255, 223);">
                <img src="{{recipte.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h3 class="card-text" style="color: rgb(124, 12, 228);">{{recipte.name}}</h3>
                <p class="card-text"><p style="color: coral;">Описание рецепта:</p>  {{recipte.description}}</p>
                <p class="card-text"><p style="color: coral;">Ингридиенты:</p>  {{recipte.Ingredients}}</p>
                <p class="card-text"><p style="color: coral;">Процесс приготовления:</p>  {{recipte.cookingSteps}}</p>
                <p class="card-text"><p style="color: coral;">Время готовки:</p>  {{recipte.cookingTime}}</p>
                <p class="card-text"><p style="color: coral;">Автор рецепта:</p>  {{recipte.author}}</p>
                </div>
            </div>
    </center>
{% endblock %}